
@{
    Layout = null;
}
<!--Contact-->
<section class="resume-section" id="Contact">
    <form method="post">
        <div class="resume-section-content">
            <h2 class="mb-5">Bana Ulaşın</h2>
            <label>Ad Soyad</label>
            <input type="text" class="form-control" name="NameSurname"/>

            <label>Mail</label>
            <input type="text" class="form-control" name="Mail"/>

            <label>Konu</label>
            <input type="text" class="form-control" name="Subject"/>

            <label>Mesaj</label>
            <input type="text" class="form-control" name="Message"/>
            <br />
            <button class="btn btn-info">Mesaj Gönder</button>
        </div>
    </form>
</section>
